**/data/**/lucene/**
**/data/**/pages/OLD/**
**/data/**/PageCount.txt
**/data/**/refmgr.ser
**/data/mywiki/**
**/data/testwiki/**
**/wikis/**/WEB-INF/classes/jspwiki-custom.properties
**/wikis/**/WEB-INF/classes/jspwiki-custom.policy
**/wikis/**/WEB-INF/lib/*.jar
