**/data/**/lucene/**
**/data/**/pages/OLD/**
**/data/**/PageCount.txt
**/data/**/refmgr.ser
**/data/**/refmgr-attr/**
**/mywiki/data/**
**/testwiki/data/**
**/wikis/**/WEB-INF/classes/jspwiki-custom.properties
**/wikis/**/WEB-INF/jspwiki-custom.policy
**/wikis/**/WEB-INF/lib/*.jar
**/*.~
**/code/jspwiki*
